.screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100vw;
    height: 98vh;
    background-color: #aaa;
    color: #fff;

    font-size: 48px;
    font-weight: 600;

    background-image: url('../assets/images/Backdrop-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.screen-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}