.schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    width: 100vw;
}

.schedule-title {
    font-size: 64px;
    font-weight: 600;
    padding-top: 150px;
}

.schedule-text {
    font-size: 32px;
    padding: 30px;
}

.schedule-image-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}