.scope-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 90vh;
    background-color: #6CAE75;
}

.scope-textdeco-container {
    width: 30%;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}

.scope-text-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.scope-text-content {
    font-size: 24px;
    font-weight: 400;
    list-style:square;
}

.scope-text-content > li {
    font-size: 18px;
    font-weight: 300;
}

@media (max-width: 768px) {
    .scope-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        width: 100vw;
        min-height: 90vh;
        background-color: #6CAE75;
    }
    
    .scope-textdeco-container {
        width: 80%;
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
    }
    
    .scope-text-container {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    
    .scope-text-content {
        font-size: 1.5rem;
        font-weight: 400;
        list-style:square;
    }
    
    .scope-text-content > li {
        font-size: 1rem;
        font-weight: 300;
    }
}