.speakercomponent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    background-color: #ABD2FA;

    padding: 50px 0px;
}

.speakercomponent-row {
    justify-content: center;
    align-items: center;
}

.speakercomponent-title {
    text-align: center;
    font-size: 48px;
    padding: 20px;
}

.speakercomponent-row {
    display: flex;
    flex-direction: row;
    width: 60%;
}