.speakerpage-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100vw;
    height: 100vh;
    background-color: #AD343E;
    color: aliceblue;
}